@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;700&display=swap");

* {
    font-family: "Anek Telugu", sans-serif;
}

h1 {
    margin-left: 4rem;
}

.image-container {
    width: 100%;
}

img {
    box-shadow: 10px 5px 5px rgba(0, 0, 1, 0.5);
    display: block;
    margin: 0 auto;
}

p {
    padding: 0 10rem;
    margin: 4rem 4rem 4rem 0rem
}